<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--登陆模块-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <!--注册模块-->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <!--课程查询模块-->
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.user.CourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/CourseServlet</url-pattern>
    </servlet-mapping>

    <!--个人信息修改模块-->
    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.user.UserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/UserInfoServlet</url-pattern>
    </servlet-mapping>

    <!--个人选课模块-->
    <servlet>
        <servlet-name>SelectCourseServlet</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.user.SelectCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectCourseServlet</servlet-name>
        <url-pattern>/SelectCourseServlet</url-pattern>
    </servlet-mapping>


    <!--Ajax选课-->
    <servlet>
        <servlet-name>addCourseServletAjax</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.user.AddCourseServletAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addCourseServletAjax</servlet-name>
        <url-pattern>/addCourseServletAjax</url-pattern>
    </servlet-mapping>

    <!--Ajax退课-->
    <servlet>
        <servlet-name>removeCourseServletAjax</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.user.RemoveCourseServletAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>removeCourseServletAjax</servlet-name>
        <url-pattern>/removeCourseServletAjax</url-pattern>
    </servlet-mapping>

    <!--Ajax获得已选课程-->
    <servlet>
        <servlet-name>getAllSelectedCourseServletAjax</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.user.GetAllSelectedCourseServletAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllSelectedCourseServletAjax</servlet-name>
        <url-pattern>/getAllSelectedCourseServletAjax</url-pattern>
    </servlet-mapping>

    <!--成绩查询模块-->
    <servlet>
        <servlet-name>gradeInfoServlet</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.user.GradeInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gradeInfoServlet</servlet-name>
        <url-pattern>/gradeInfoServlet</url-pattern>
    </servlet-mapping>

    <!--管理模块 管理学生信息-->
    <servlet>
        <servlet-name>MgtGetAllUserInfoServlet</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.admin.MgtGetAllUserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MgtGetAllUserInfoServlet</servlet-name>
        <url-pattern>/MgtGetAllUserInfoServlet</url-pattern>
    </servlet-mapping>

    <!--模态框提交用户信息更新刷新-->
    <servlet>
        <servlet-name>UpdateUserInfoServletAjax</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.admin.UpdateUserInfoServletAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserInfoServletAjax</servlet-name>
        <url-pattern>/UpdateUserInfoServletAjax</url-pattern>
    </servlet-mapping>

    <!--模态框提交课程信息更新刷新-->
    <servlet>
        <servlet-name>UpdateCourseServletAjax</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.admin.UpdateCourseServletAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCourseServletAjax</servlet-name>
        <url-pattern>/UpdateCourseServletAjax</url-pattern>
    </servlet-mapping>


    <!--管理模块 管理课程信息-->
    <servlet>
        <servlet-name>MgtGetAllCourseInfoServlet</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.admin.MgtGetAllCourseInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MgtGetAllCourseInfoServlet</servlet-name>
        <url-pattern>/MgtGetAllCourseInfoServlet</url-pattern>
    </servlet-mapping>

    <!--管理模块 管理课程信息-->
    <servlet>
        <servlet-name>MgtGetAllElectiveServlet</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.admin.MgtGetAllElectiveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MgtGetAllElectiveServlet</servlet-name>
        <url-pattern>/MgtGetAllElectiveServlet</url-pattern>
    </servlet-mapping>
    <!--管理模块 管理课程信息-->
    <servlet>
        <servlet-name>UpdateElectiveServletAjax</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.admin.UpdateElectiveServletAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateElectiveServletAjax</servlet-name>
        <url-pattern>/UpdateElectiveServletAjax</url-pattern>
    </servlet-mapping>

    <!--管理模块 增加用户模态框-->
    <servlet>
        <servlet-name>MgtAddUserServletAjax</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.admin.MgtAddUserServletAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MgtAddUserServletAjax</servlet-name>
        <url-pattern>/MgtAddUserServletAjax</url-pattern>
    </servlet-mapping>

    <!--管理模块 删除用户模态框-->
    <servlet>
        <servlet-name>MgtRemoveUserServletAjax</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.admin.MgtRemoveUserServletAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MgtRemoveUserServletAjax</servlet-name>
        <url-pattern>/MgtRemoveUserServletAjax</url-pattern>
    </servlet-mapping>

    <!--管理模块 增加课程模态框-->
    <servlet>
        <servlet-name>MgtAddCourseServletAjax</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.admin.MgtAddCourseServletAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MgtAddCourseServletAjax</servlet-name>
        <url-pattern>/MgtAddCourseServletAjax</url-pattern>
    </servlet-mapping>

    <!--管理模块 删除课程模态框-->
    <servlet>
        <servlet-name>MgtRemoveCourseServletAjax</servlet-name>
        <servlet-class>com.tuxzx.sci.servlet.admin.MgtRemoveCourseServletAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MgtRemoveCourseServletAjax</servlet-name>
        <url-pattern>/MgtRemoveCourseServletAjax</url-pattern>
    </servlet-mapping>
</web-app>